*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*Backgrounds*/

  --color-body: #948181;
  --color-header: #7c7567; 
  --color-aside: #728a75;
  --color-main: #a0a087;
  --color-footer: #65797c;
  --color-cards: #aa978c;

  --width-cards: 500px;
  --heigh-cards: 200px;

  --width-img-card: 250px;
  --heigh-img-card: 200px;

  --width-img-footer: 50px;
  --heigh-img-footer: 50px;

}

body{
  background-color: var(--color-body);
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
  "header header header"
  "aside main main"
  "footer footer footer";
  height: 100vh;
}

header{
  background-color: var(--color-header);
  grid-area: header;
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  padding: 0 20px;
}

header img{
  height: 100px;
  width: 100px;
}

header  nav ul{
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: end;
  font-size: 20px;
  list-style: none;
}

header nav ul li{
  /* list-style: none; */
  padding: 25px;
}

aside{
  grid-area: aside;
  /* height: var(--height-aside); */
  background-color: var(--color-aside);
  display: grid;
  place-items: center;
  padding: 10px;
  text-align: justify;
}

aside h2 {
  padding: 10px;
}

main{
  /* height: var(--height-main); */
  grid-area: main;
  background-color: var(--color-main);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(3, 1fr);
  grid-template-areas:
  "titulo titulo titulo"
  "card1 card2 card3"
  "card4 card5 card6";
  justify-items: center;
  gap: 20px;
}

main > h2{
  grid-area: titulo;
  text-align: center;
  margin: 20px;
}

main > div {
  background-color: var(--color-cards);
  height: var(--heigh-cards);
  width: var(--width-cards);
  display: grid;
  grid-template-columns: var(--width-img-card) 1fr;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}

main > div img {
  width: var(--width-img-card);
  height: var(--heigh-img-card);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

main > div h2{
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

footer{
  background-color: var(--color-footer);
  grid-area: footer;
  display: grid;
  place-items: center;
  padding: 20px;
  text-align: center;
  gap: 20px;
}

footer div:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
  align-items: center;
}

footer div:nth-of-type(1) img {

  width: var(--width-img-footer);
  height: var(--heigh-img-footer);
  padding: 5px;
  transition: transform 0.3s ease;
}

footer div:nth-of-type(2){
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  align-items: center;
}

footer div:nth-of-type(2) h3 {
  font-size: 18px;
}